.footer-container {
  background-color: #ff2943;
  display: flex;
  height: 150px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-container-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
